body{
    background-color: rgb(20, 87, 107);
}
.to-do{

    margin-top: 200px;
margin-left: 500px;
}
.inp{
   height: 25px;
   width: 300px;
}
.btn{
    background-color: rgb(15, 53, 65);
    color: #fff;
    width: 80px;
    height: 30px;
   border: none;
}
.list-items{
    display: flex;
}
.list-items .list-item-list{
    flex: 1;
}
.list-items .list-item-icons{
    padding-left: 5px;
    font-size: 25px;
    cursor: pointer;
}
#complete{
    color: green
}
#edit{
    color: blueviolet;
}
#delete{
    color: orange;
}